@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear</h2>

<form action="/Tarea/Crear" method="post">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <div>
                    <b>Nombre</b>
                </div>
                <div>
                    <input type="text" placeholder="Ingresa el nombre de la tarea" name="Nombre" maxlength="50" required />
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div>
                    <b>Descripcion</b>
                </div>
                <div>
                    <textarea placeholder="Ingresa la descripcion de la tarea" name="Descripcion" maxlength="200" class="totenTextArea"></textarea>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div>
                    <b>Estimado (hs)</b>
                </div>
                <div>
                    @* Validar solo 2 decimales *@
                    <input type="text" placeholder="Ingresa el nombre de la tarea" name="EstimadoHoras" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <div>
                    <b>Fecha Fin</b>
                </div>
                <div>
                    <input type="text" placeholder="" name="FechaFin" />
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div>
                    <b>Prioridad</b>
                </div>
                <div>
                    <select name="Prioridad">
                        <option value="0">Baja</option>
                        <option value="1">Media</option>
                        <option value="2">Alta</option>
                        <option value="3">Urgente</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div>
                    <b>Carpeta</b>
                </div>
                <div>
                    <select name="IdCarpeta">
                        @foreach(Carpeta item in ViewBag.CarpetasUsuario)
                        {
                            <option value="@item.IdCarpeta">@item.Nombre</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="btn-success-container">
                <button type="submit" class="btn btn-success btn-block">Crear Tarea</button>
            </div>
        </div>
    </div>
</form>