<div id="login-overlay" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">¡Bienvenido a Toten!</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-6">
                    <div class="well">
                        <form id="loginForm" method="POST" action="/login/" novalidate="novalidate">
                            <div class="form-group">
                                <label for="username" class="control-label">Usuario</label>
                                <input type="text" class="form-control" id="username" name="username" value="" required="" title="Ingresá tu usuario" placeholder="ejemplo@gmail.com">
                                <span class="help-block"></span>
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">Contrase&ntilde;a</label>
                                <input type="password" class="form-control" id="password" name="password" value="" required="" title="Ingresá tu contraseña">
                                <span class="help-block"></span>
                            </div>
                            <div id="loginErrorMsg" class="alert alert-error hide">Usuario o contrase&ntilde;a incorrectos</div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="remember" id="remember"> ¡Recordame!
                                </label>
                            </div>
                            <button type="submit" class="btn btn-success btn-block">Login</button>
                        </form>
                    </div>
                </div>
                <div class="col-xs-6">
                    <p class="lead">Toten lleg&oacute; para ayudar a <span class="text-success">ORGANIZARTE</span></p>
                    <ul class="list-unstyled" style="line-height: 2">
                        <li><span class="fa fa-check text-success"></span> Es gratis, f&aacute;cil y pr&aacute;ctico</li>
                        <li><span class="fa fa-check text-success"></span> Gestion&aacute; tus tareas r&aacute;pidamente</li>
                        <li><span class="fa fa-check text-success"></span> Dej&aacute; de lado las cadenas de correo</li>
                    </ul>
                    <p><a href="/Home/Registro" class="btn btn-info btn-block">¡Registrate ahora!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>