@model List<PW3OrgTareas.Models.Carpeta>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mis Carpetas</h2>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha de Creacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Descripcion</td>
                    <td>@item.FechaCreacion.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a href="/Tarea/TareasEnCarpeta/@item.IdCarpeta" title="Ver Tareas"><i class="fa fa-folder-open"></i></a> | 
                        <a href="" title=""><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>